.jumbotron {
    background-image: url("https://thumbs.gfycat.com/ComplicatedFrailCatbird-size_restricted.gif") !important;
    color: white;
    text-shadow:
    0 0 5px #fff, 
    0 0 90px whitesmoke,
    0 0 100px whitesmoke,
    0 0 150px white;
}
.nav-icon {
    color: black;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
   text-shadow:
   0 0 5px #fff,
   0 0 40px white,
   0 0 90px black,
   0 0 100px whitesmoke,
   0 0 150px black;
}
.container {
    z-index: 3;
    position: absolute;
    height: 100%;
    width:100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
}
body {
    color: black;
}
